<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ServletContextDemo</servlet-name>
        <servlet-class>ServletContextDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContextDemo</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>Username</param-name>
        <param-value>Aditya</param-value>
    </context-param>
    <context-param>
        <param-name>Nerd</param-name>
        <param-value>Vedant Shetty</param-value>
    </context-param>
</web-app>